fastapi
uvicorn
pydantic
websockets
python-dotenv
openai
pyserial
grpcio
protobuf
numpy
scipy
soundfile
SpeechRecognition
pydub
yandex-cloud-ml-sdk
google-genai
qdrant-client
Pillow
requests
adafruit-blinka
adafruit-circuitpython-mlx90640
opencv-python
insightface
onnxruntime
sounddevice
lgpio
psutil
serial
pyserial
dotenv
